{% extends 'dashboard_base.html.twig' %}
{% block onglet %}Reclamations{% endblock %}

{% block body %}
<div class="content" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">articles in Tender</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="myTable">
                            <thead class=" text-primary">
                            <th>Id tender</th>
                            <th>Article</th>
                            <th>Quantity</th>

                            </thead>
                            <tbody>
                            {% for t in appel_d_offres %}
                            <tr>
                                    <td>{{ t.idTender }}</td>
                                    <td>{{ t.id_article }}</td>
                                    <td>{{ t.quantité }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <form action="{{ path('appel_d_offre_all')}}" method="post">
                    <input type="submit" class="btn btn-success" value="show Tender"/>
                    <input type="submit" class="btn btn-success" value="Add price request"/>
                </form>
            </div>
        </div>

    </div>
    {% endblock %}
