{% for transaction in transactions %}
    <p>Transaction n°:{{ transaction.id }} de nature {{ transaction.nature }} effectuée le {{ transaction.date|date("m/d/Y") }} avec la somme de {{ transaction.somme }}</p>
{% endfor %}