<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: left;
    }
</style>

<h1>All Categories</h1>
{% if category is not empty %}
    <table>
        <thead>
        <tr>
            <th>category ID</th>
            <th>Label</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categorys %}
            <tr>

                <td>{{ categorys.id_category }}</td>
                <td>{{ categorys.label }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No categories found.</p>
{% endif %}

<br/>
<a href="/create-category">Create New</a>